/* fondo "castilloBase" temporal, línea 11 temporal, no hay un fondo definido por ahora, los espacion en blaco a la izquierda de la vida son imágenes de la ballesta y catapulta, estamos en el porceso de buscar íconos para que no desentone*/

* {
    box-sizing: border-box;
}

.castilloBase {
    border: 3px solid rgb(25, 105, 25);
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    height: 115px;
    width: 372px;
    margin: 5px;
    font-family: 'Press Start 2P', cursive;
}

.castilloBase div {
    color: #ffffff;
    height: 27%;
    margin: 1% 1.5% 0% 1.5%;
    width: 47%;
}

.castilloBase h3 {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    margin: 3% 5%;
    text-align: center;
}

.castilloBase .ballesta2 {
    margin: 3% 1.5% 0% 1.5%;
}

.castilloBase .catapulta {
    margin: 3% 1.5% 0% 1.5%;
}

.castilloBase div button {
    background-color: rgb(20, 211, 20);
    border-color: rgb(20, 211, 20);
    cursor: pointer;
    float: left;
    padding: 1px 1px 18px 0px;
    height: 70%;
    margin: 2%;
    width: 10%;
}

.castillo {
    background-color: rgb(145, 141, 138);
    display: inline-block;
    background: rgba(0, 0, 0, .3);
}

.castillo .castilloImg,
.castillo .vida,
.castillo .moneda,
.catapulta .vida,
.ballesta1 .vida,
.ballesta2 .vida {
    float: left;
    font-size: 22px;
    height: 80%;
    margin: 0% 0% 2% 2%;
    width: 15%;
}


/*
.castillo .vida {
    float: left;
    font-size: 22px;
    height: 80%;
    margin: 2% 0% 2% 0%;
    width: 15%;
}
*/

.castillo h6 {
    float: left;
    margin: 10px 2px 0px 0px;
    font-size: 10px;
}


/*
.castillo .moneda {
    float: left;
    font-size: 22px;
    height: 80%;
    margin: 2% 0% 2% 0%;
    width: 15%;
}
*/

.ballesta1 {
    background-color: rgb(145, 141, 138);
    background: rgba(0, 0, 0, .3);
    float: right;
}

.ballesta1 .ballestaImg {
    background-image: url('../Imagenes/catapulta.png');
    background-repeat: no-repeat;
    float: left;
    height: 80%;
    margin: 2%;
    width: 19%;
}


/*
.ballesta1 .vida {
    float: left;
    font-size: 22px;
    height: 80%;
    margin: 2% 0% 2% 0%;
    width: 15%;
}
*/

.ballesta1 h6 {
    display: inline-block;
    margin: 10px 2px 0px 0px;
    font-size: 10px;
}

.ballesta2 {
    background-color: rgb(145, 141, 138);
    background: rgba(0, 0, 0, .3);
    float: right;
}

.ballesta2 .ballestaImg {
    background-image: url('/imgBaseCastillo/ballestaFondoMadera.png');
    background-repeat: no-repeat;
    float: left;
    height: 80%;
    margin: 2%;
    width: 19%;
}


/*
.ballesta2 .vida {
    float: left;
    font-size: 22px;
    height: 80%;
    margin: 2% 0% 2% 0%;
    width: 15%;
}
*/

.ballesta2 h6 {
    display: inline-block;
    margin: 10px 2px 0px 0px;
    font-size: 10px;
}

.catapulta {
    background-color: rgb(145, 141, 138);
    background: rgba(0, 0, 0, .3);
}

.catapulta .catapultaImg {
    background-image: url('/imgBaseCastillo/catapultaFondo.png');
    background-repeat: no-repeat;
    float: left;
    height: 80%;
    margin: 2%;
    width: 19%;
}


/*
.catapulta .vida {
    float: left;
    font-size: 22px;
    height: 80%;
    margin: 2% 0% 2% 0%;
    width: 15%;
}
*/

.catapulta h6 {
    display: inline-block;
    margin: 10px 2px 0px 0px;
    font-size: 10px;
}

.catapultaImg img {
    width: 90%;
    margin-top: -16%;
}

.ballestaImg img {
    width: 60%;
    
}