/* fondo "castilloBase" temporal, línea 11 temporal, no hay un fondo definido por ahora, los espacion en blaco a la izquierda de la vida son imágenes de la ballesta y catapulta, estamos en el porceso de buscar íconos para que no desentone*/

* {
    box-sizing: border-box;
}

#castleInfo{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#Nickname{
    font-family: 'Press Start 2P', cursive;
    color:aquamarine;
    /*background-color: rgba(0, 0, 0, 0.75);*/
    border-radius: 5%;    
    font-size: larger;
    font-weight: bolder;   
    width: 270px;
    
}

#NickContainer{
    background-image: url('../Imagenes/ui/Plank_06.png');
    background-size:contain;     
    background-repeat: no-repeat;            
    height: 50px;
    width: 300px;
    padding: 15px;
    text-align: center;
}
.act-toon {
    
    border-radius: 10px;
    background-color: rgb(145, 141, 138);    
    background: rgba(0, 0, 0, .6);
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 200px;
    margin: 5px;
    font-family: 'Press Start 2P', cursive;
    flex: 1;
    padding: 15px;
    padding-bottom: 35px;
    background-image: url('../Imagenes/ui/thinframesquare.png');
    background-size: 100% 100%;
    align-items: center;
}
.castilloBase {
    
    border-radius: 10px;
    background-color: rgb(145, 141, 138);    
    background: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 300px;
    margin: 5px;
    font-family: 'Press Start 2P', cursive;
    flex: 1;
    padding: 15px;
    padding-bottom: 35px;
    background-image: url('../Imagenes/ui/thinframesquare.png');
    background-size: 100% 100%;
}

.castilloBase div {
    color: #ffffff;    
    margin: 1% 1.5% 1.5% 1.5%;    
}

.castilloBase h3 {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    margin: 3% 5%;
    text-align: center;
}

.castilloBase .ballesta2 {
    margin: 1% 1.5% 1.5% 1.5%;
    flex: 1;
}

.castilloBase .catapulta {
    margin: 1% 1.5% 1.5% 1.5%;
    flex: 1;
}

.castilloBase div button {

    cursor: pointer;
    float: left;    
    height: 70%;    
    width: 12.5%;
    background-image: url('../Imagenes/ui/help.png');
    background-size:contain;     
    background-repeat: no-repeat;        
    
    
}

.castillo {
    flex: 2;    
}

.castillo .castilloImg,
.castillo .vida,
.castillo .moneda,
.castillo .btn-base,
.catapulta .catapultaImg,
.catapulta .vida,
.catapulta .btn-base,
.ballesta1 .ballestaImg,
.ballesta1 .vida,
.ballesta1 .btn-base,
.ballesta2 .ballestaImg,
.ballesta2 .vida, 
.ballesta2 .btn-base{
    display: flex;
    flex-direction: column;
    float: left;
    font-size: 22px;
    height: 40px;
    margin: 10px;
    width: 40px;
}

.castillo h6 {
    float: left;
    margin: 10px 2px 0px 0px;
    font-size: 10px;
}

.castillo .castilloImg {
    background-image: url('../Imagenes/castle.png');
    
}

.ballesta1 {
 
    flex: 1;
}

.ballesta1 .ballestaImg {
    background-image: url('../Imagenes/catapulta.png');

}


.ballesta1 h6 {
    display: inline-block;
    margin: 10px 2px 0px 0px;
    font-size: 10px;
}

.ballesta2 {

    float: right;
    
}

.ballesta2 .ballestaImg {
    background-image: url('../Imagenes/Ballesta.png');

}

.ballesta2 h6 {
    display: inline-block;
    margin: 10px 2px 0px 0px;
    font-size: 10px;
}

.catapulta {
flex: 1;
}

.catapulta .catapultaImg {
    background-image: url('../Imagenes/catapulta.png');

}

.catapulta h6 {
    display: inline-block;
    margin: 10px 2px 0px 0px;
    font-size: 10px;
}

.catapultaImg img {
    width: 100%;
    
}

.ballestaImg img {
    width: 100%;
    
}

.topPanel{
    display: flex;
    
}