body{
    margin: 0;
    height: 100vh;
}

div{
    box-sizing: border-box;
    
    
}

body {
    background-image: url('../imgReglasJuego/fondoBody.gif');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: cursive;
    font-style: oblique;
    margin-bottom: 0%;
    height: 745px;
    width: 100%;
    cursor: pointer;
    
}

.titulo-principal {
    padding-top: 100px;
    text-align: center;
    color: #1c3b2d;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 0.1em 0.1em 0.05em rgb(120, 224, 135);
    
    
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}


.form__input {
  font-family: 'Press Start 2P', cursive;
  color: rgb(50, 90, 60);
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.404);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  
}

.form-input-error {
    background-color: rgba(245, 145, 145, 0.466) !important;
}

.text-existente {
    color: rgb(175, 0, 0);
    padding-left: 20px;
    
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
  
}
.titulo-principal span {
    color: #1f612d;
}
.inputs {
    padding-top: 30px;
    width: 30%;
    margin: 0 auto;
}

.form__group {
    margin: 20px;
    position: relative;
    display: inline-block;
}

.fa-plus-square {
    font-size: 50px;
    color: rgb(51, 53, 49);
}

.plus {
    text-align: center;
}

.fa-plus-square:hover {
    color: aquamarine;
}


.fa-times {
    position: absolute;
    right: 40px;
    top: 15px;
    color: #4e4646b0;
    transition: color, .2s ease-in-out;
    font-size: 30px;
}

.fa-times:hover {
    color: #5b839b;
}




.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: white;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.button1 {
    background: #5AA990;
}


.flecha1, .flecha3 {
    padding-left: 35px;
}


.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #fff;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}


.buttons-inicial {
    padding-top: 50px;
    width: 22%;
    margin-left: 38%;
}

#btn_music{     
    height: 100px;
    width: 100px;    
    border: transparent;
    position: absolute;
    top: 50px;
    right: 50px;
}

.fa-volume-up{    
    background-image: url('../Imagenes/ui/ui/musicGif.gif');
    background-size:contain;     
    background-repeat: no-repeat;
    background-color: transparent;     
}

.fa-volume-mute{
    background-image: url('../Imagenes/ui/ui/music_t.png') ;    
    background-size:contain;
    background-repeat: no-repeat;
    background-color: transparent;    
}

.fade{
    opacity: 0.6;
    transition: 0.3s;
}