.imgFondo {
    background-image: url("../Imagenes/ui/thinframesquare.png");
    background-color: rgba(0, 0, 0, 0.75);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: 100% 100%;
}

#btn-popup-ballesta,
#btn-popup-Catapulta {
    background-color: rgb(20, 211, 20);
    border-color: rgb(20, 211, 20);
    cursor: pointer;
}

.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popupCatapulta,
.popupBallesta {
    padding: 20px;
    text-align: center;
    width: 290px;
    opacity: 0;
    transition: .3s ease all;
    transform: scale(0.7);
}

.popupCatapulta .btn-cerrar-popupCatapulta,
.popupBallesta .btn-cerrar-popupBallesta {
    font-size: 20px;
    line-height: 10px;
    display: block;
    text-align: right;
    color: aliceblue;
}

.popupBallesta .btn-cerrar-popupBallesta:hover,
.popupCatapulta .btn-cerrar-popupCatapulta:hover {
    transition: .4s;
    color: rgb(125, 252, 94);
}

.popupBallesta h3,
.popupCatapulta h3 {
    font-family: 'Press Start 2P', cursive;
    color: aliceblue;
    margin: 0px;
    margin-bottom: 23px;
    opacity: 0;
}

.popupBallesta h4,
.popupCatapulta h4 {
    font-family: 'Press Start 2P', cursive;
    color: aliceblue;
    opacity: 0;
    margin-bottom: 15px;
}

.icon {
    width: 30px;
    margin-bottom: -4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.attackRange {
    padding-right: 20px;
}

#arrowAttack {
    margin-right: 10px;
    margin-left: -9px;
    margin-bottom: -4px;
    width: 29px;
}

#swordRange {
    margin-bottom: -4px;
    width: 35px;
}

#idpopupCompraB,
#idpopupCompraC,
#idpopupCambioTurno,
#idpopupCargaJugadores,
#idpopupCompraArquero,
#idpopupCompraAsesino,
#idpopupCompraBerserker,
#idpopupCompraKnight,
#idpopupCompraEspia,
#idpopupCompraSwordsman,
#idpopupCompraMago,
#idpopupAtaquePersonaje {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 300px;
    justify-content: center;
    align-items: center;
}

#idpopupMensaje {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 150px;
    justify-content: center;
    align-items: center;
}

.popupCatapulta.active,
.popupBallesta.active {
    opacity: 1;
    transform: scale(1);
}

.popupCatapulta.active h3,
.popupBallesta.active h3 {
    animation: entradaTituloC 0.8s ease .5s forwards;
}

.popupCatapulta.active h4,
.popupBallesta.active h4 {
    animation: entradaInfoC 0.8s ease .5s forwards;
}

@keyframes entradaTituloC {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInfoC {
    from {
        transform: translateY(25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/*--LOADER PARA TURNOS --*/

.loader-turno {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

.loader-carga-jugadores {
    border: 16px solid red;
    /* Light grey */
    border-top: 16px solid white;
    /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#titulo-carga-jugadores {
    margin-top: 30px;
}

#btn-Almacenar {
    width: max-content;
    background-size: 100% 100%;
}