* {
    box-sizing: border-box;
}

.cabeza {
    font-family: 'Press Start 2P', cursive;
    height: 45px;
    width: 100%;
}

h2 {
    display: inline-block;
    font-weight: bold;
}

.cabeza nav {
    display: inline-block;
}

.cabeza nav a {
    color: #11804e;
    text-decoration: none;
    font-size: 15px;
    line-height: 45px;
    margin-left: 30px;
}

.cabeza nav a:hover {
    color: #1c3b2d;
    text-decoration: overline;
    transition: .4s;
}

body {
    background-image: url('../imgReglasJuego/fondoBody.gif');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 0%;
    height: 745px;
    width: 100%;
}

.pergamino {
    background-image: url('../imgReglasJuego/pergamino.gif');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0% auto;
    height: 700px;
    width: 35%;
}

.reglas {
    height: 43%;
    text-align: center;
    margin-left: 18%;
    width: 63%;
}

.reglas2 {
    height: 49%;
    text-align: center;
    margin-left: 24%;
    width: 63%;
}

.volver {
    background-color: rgb(255, 187, 0);
    border-radius: 10px;
    border: 2px solid rgb(182, 134, 2);
    box-shadow: 3px 3px 10px 1px #2e2c2d;
    color: black;
    font-size: 13px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    height: 30px;
    margin-top: 25px;
    width: 100px;
}

a {
    text-decoration: none;
}

.volver:hover {
    background-color: rgba(223, 167, 13, 0.986);
    cursor: pointer;
}

h3 {
    opacity: 0;
}

.titulo {
    font-weight: bold;
    font-size: 20px;
}

.pergamino p {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    margin-top: 5px;
}

p::selection {
    background-color: rgba(223, 167, 13, 0.986);
}

.imgFalta {
    background-image: url('../imgReglasJuego/fondoFooter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0%;
    height: 46px;
    width: 100%;
}