
.cnt-Activos {
    background-color: rgba(0, 0, 0, 0.75);
    /*border: 2px aquamarine solid;*/
    width: 93%;
    height: 375px;
    margin-left: 15px;
    color: white;
    height:max-content;
    border-radius: 5px;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 10px;
    padding: 30px 30px ;
    flex: 1;
    background-image: url('../Imagenes/ui/thinframerectan.png');
    background-size: 100% 100%;
  }
  
  .cnt-Jugador {
    /*background-color: rgba(0, 0, 0, 0.80);*/
    width: 100%;
    display: flex;
    align-items: center;
    height: 45%;    

  }
  
  .cnt-Personaje {    
    width: 33%;
    margin: 5px;
    padding: 2px;
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .cnt-Personaje .iconP {
    width: 100%;
    background-image: url("../Imagenes/Characters/SkellieIdle.gif");
    /* The image used */
    
    /* Used if the image is unavailable */
    height: 80%;
    
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: contain;
  }
  
  .act-Personaje {    
    width: 90%;
    margin: 5px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .act-Personaje .iconP {
    
    background-image: url("../Imagenes/Characters/SkellieIdle.gif");
    width: 200px;
    height: 100px;    
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: contain;
  }

  .btn-tienda {
    display: inline-block;
    background-image: url("../Imagenes/ui/button12.png");
    font-size: 10px;
    width: 80px;
    height: 31px;
    color: beige;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:contain;
    border: transparent;
  }
  
  .btn-tienda:hover{
    color: yellow;
  }
  .stats {
    padding: 5px;
  }
  
  .stats button {
    display: inline-block;
    width: 60px;    
    height: 22px;
    padding: 3px;
    background-color: transparent;    
    color: beige;
    background-image: url("../Imagenes/ui/button12.png");
    background-repeat: no-repeat;
    background-size:cover;
    border: transparent;
    
  }
  
  .stats button:hover {
   
    color: yellow;    

  }
  .stats #pU-P2{
    display: inline-block;
    width: 140px;    
    height: 50px;
    padding: 3px;
    background-color: transparent;    
    color: beige;
    background-image: url("../Imagenes/ui/button12.png");
    background-repeat: no-repeat;
    background-size:cover;
    border: transparent;
    
  }
  .stats #pU-P2:hover {
   
    color: yellow;    

  }

  .stats p {
    margin: 3px 0;
  }
  
  .cnt-Activos h5 {
    margin: 9px 0;
  }

  .act-Personaje #act-pup-image {
    width: 80px;
    background-image: url("../Imagenes/ui/checkbox_bg.png");
    border-radius: 10%;
    height: 80px;    
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: contain;
    margin: auto;
  }
