/*CSS DEL TABLERO*/
body {
  font-family: 'Press Start 2P';
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../Imagenes/Backgrounds/game_background_4.png');
  overflow-x: hidden;
}

.tablero {
    width: 700px;
    max-height: max-content;    
    
    /*position: fixed;*/
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    /*transform: translate(-50%, -50%);*/
    background-image: url('../Imagenes/gray_texture.png');
}

/*--SECCION DEL DADO--*/
.dado-container {
  width: 200px;
  height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 2px solid aquamarine;
  border-radius: 5%;
  position: fixed;
  bottom: 45px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

#imagen-dado {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100px;
}

#boton-dado {
  margin-top: 10px;
  width: 80%;
  height: 35%;  
  background-color: transparent;    
    color: beige;
    background-image: url("../Imagenes/ui/button12.png");
    background-repeat: no-repeat;
    background-size:contain;
    border: transparent;
}
#boton-dado:hover{
  color: yellow;
  font-size: larger;
}

.btn-compra-personaje{
  
  margin-top: 10px;
  width: 45px;
  height: 20px;
  font-size: 10px;
  background-color: transparent;    
    color: beige;
    background-image: url("../Imagenes/ui/button12.png");
    background-repeat: no-repeat;
    background-size:contain;
    border: transparent;
}
.btn-compra-personaje:hover{
  color: yellow;
  
}


/*
.canvas {
    width: 800px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/
td {
    text-align: center;    
    width: 70px;
    height: 70px;    
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;     
}

/*--TIMER--*/
.cnt-timer {
  border: 2px solid aquamarine;
  font-family: 'Press Start 2P';
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5%;
    width: 11%;
    height: 11%;
    position: fixed;
    top: 10%;
    right: 12.7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cnt-timer h1 {
  color: white;
}

.cnt-timer p {
  color: white;
  margin-top: 5%;
}

/*--CONSOLE--*/
/*#console {
    position: fixed;
    position: fixed;
    bottom: 2%;
    right: 37.5%;
    border: 1px solid black;
    width: 25%;
    height: 10%;
}*/
/*--SECCION DE PERSONAJES--*/
.character-container {
    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid aquamarine;
  
    border-radius: 5%;
    width: 22.5%;
    height: 25%;
    position: fixed;
    bottom: 52%;
    /*right: 3%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tienda {
    display: inline-flex;
    justify-content: space-evenly;
}

.tienda-ballestas {
    padding: 0 15% 0 15%;
}

#titulo-tienda {
    color: white;
    font-size: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
}

#title-characters {
    color: white;
    font-size: 26px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.cnt-characters {
  text-align: center;
}

.img-character {
  width: 45px;
  height: 60px;
}

.tienda-personajes-ocultos {
    display: none;
    border: 2px solid aquamarine;  
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5%;
    width: 22.5%;
    height: 25%;
    position: fixed;
    bottom: 27%;
    /*right: 3%;*/
}

.col-personajes {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 10% 0;
}

.espacio-personaje {
    display: flex;
    flex-direction: column;
}

#contenedorTablero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: transparent;
}

.tarjetasInfo{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;  
  font-family: 'Press Start 2P', cursive;
}

#btn_music{     
  height: 100px;
  width: 100px;    
  border: transparent;
  position: absolute;
  top: 50px;
  right: 50px;
}

.fa-volume-up{    
  background-image: url('../Imagenes/ui/ui/musicGif.gif');
  background-size:contain;     
  background-repeat: no-repeat;
  background-color: transparent;     
}

.fa-volume-mute{
  background-image: url('../Imagenes/ui/ui/music_t.png') ;    
  background-size:contain;
  background-repeat: no-repeat;
  background-color: transparent;    
}

.fade{
  opacity: 0.6;
  transition: 0.3s;
}